
.button-q{
    background: white;
    color: black;
    border-radius: 0px;
    height: 55px;
    width: 125px;
    transition: color 0.2s ease-in-out;
}

.button-q:hover{
    color: #4f7270;
    border-bottom-color: #9de1dd;
    border-bottom-width: 1.5px;
    transition: border-bottom-width 0.1s ease-in-out;
}

.button-log{
    height: 45px;
    width: 85px;
    margin: 0 25px;
    background: #535bf2;
    border-radius: 100px;
    transition: background-color 0.5s ease-in-out;
}

.button-log:hover {
    background-color: #9de1dd;
    color: #535bf2;
}

@media screen and (max-width: 992px){
    .button-q{
        text-align: center;
        margin: 0px 20px;
    }

    .button-log{
        text-align: center;
        width: 100%;
        border-radius: 0px;
        margin: 0px;
    }
}