footer {
    background-color: #213547;
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer ul li {
    display: inline;
    margin: 0 0;
}

footer a {
    margin: 0 10px 0 10px !important;
}

footer a:hover {
    transition: color 0.2s ease-in-out;
}

.iconLogo{
    margin: 5px;
}
@media screen and (max-width: 576px){
    footer{
        flex-direction: column;
        align-items: center;
    }

    footer ul{
        margin: 10px 0;
    }
}