
.title-cont{
    height: 700px;
    align-items: center;
    justify-items: center;
}

.image{
    width: 95%;
    height: 95%;
    margin: 20px;
}

.image-style{
    width: 100%;
    height: 100%;
    border-radius: 00px;
    /*clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 35% 20%);*/
}

.title-box{
    width: 30%;
    height: 16%;
    position: absolute;
    text-align: center;
    align-content: center;
    font-size: 80px;
    background-color: white;
    border-bottom-right-radius: 50px;
}