.title-cont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* L'immagine principale trasparente */
.image-style {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
    display: block;
    position: relative;
    z-index: 1;
}

/* Gradient che sfuma ai bordi */
.image-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, white 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, white 100%),
    linear-gradient(to right, white 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, white 100%);
    z-index: 2;
    pointer-events: none;
}

/* Overlay col contenuto sopra */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 3; /* sopra il gradient */
}

.title-box {
    font-family: 'CustomFont', sans-serif;
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 160px;
    background-color: transparent;
    text-align: center;
    z-index: 2;
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;


}

.title-box:hover {
    transform: scale(1.1);
}

.title-text {
    color: black;
    white-space: nowrap;
}

.logo {
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'CustomFont';
    src: url('/src/assets/fonts/PermanentMarker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Media queries (opzionali, da mantenere) */
@media screen and (max-width: 1700px){
    .title-box{ font-size: 120px; }
    .logo { height: 300px;  width: auto; }
}
@media screen and (max-width: 1400px){
    .title-box{ font-size: 100px; }
    .logo { height: 250px; width: auto; border-radius: 40px }
}
@media screen and (max-width: 1199px){
    .title-box{ font-size: 90px; }
    .logo { height: 200px; width: auto; border-radius: 30px; }
}
@media screen and (max-width: 992px){
    .title-box{ font-size: 70px; }
    .logo { height: 160px; width: auto; border-radius: 20px }
}
@media screen and (max-width: 768px){
    .title-box{ font-size: 70px; flex-direction: column; gap: 10px; }
    .logo { height: 120px; width: auto; border-radius: 10px; }
}
@media screen and (max-width: 450px){
    .title-box{ font-size: 50px; flex-direction: column; gap: 10px; }
    .logo { height: 100px; width: auto; border-radius: 10px; }
}