
.title-cont{
    height: 750px;
    align-items: center;
    justify-items: center;
}

.image{
    width: 95%;
    height: 95%;
    margin: 20px;
}

.image-style{
    width: 100%;
    height: 100%;
    border-radius: 00px;
    /*clip-path: polygon(33% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 14%, 30% 14%);*/
    clip-path: url(#rounded-clip);
}

.title-box{
    width: 30%;
    height: 16%;
    position: absolute;
    text-align: center;
    align-content: center;
    font-size: 80px;
    background-color: transparent;
    border-bottom-right-radius: 50px;
}

@media screen and (max-width: 1700px){
    .title-box{
        font-size: 80px;
    }
    .image-style{
        clip-path: url(#rounded-clip);
        background-color: red;
    }
    .title-cont{
        height: 850px;
    }
}
@media screen and (max-width: 1400px){
    .title-box{
        font-size: 75px;
    }
    .image-style{
        clip-path: url(#rounded-clip2);
    }
    .title-cont{
        height: 700px;
    }
}

@media screen and (max-width: 1200px){
    .title-box{
        font-size: 60px;
    }
    .image-style{
        clip-path: url(#rounded-clip2);
    }
    .title-cont{
        height: 550px;
    }
}

@media screen and (max-width: 992px){
    .title-box{
        font-size: 55px;
    }
    .image-style{
        clip-path: url(#rounded-clip3);
    }
    .title-cont{
        height: 450px;
    }
}


@media screen and (max-width: 768px){
    .title-box{
        font-size: 55px;
        position: relative;
        width: 100%;

    }
    .image-style{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-radius: 40px;
        width: 100%;
    }

    .title-cont{
        height: 100%;
    }
}

@media screen and (max-width: 576px){
    .title-box{
        font-size: 55px;
        position: relative;
        width: 100%;

    }
    .image-style{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-radius: 40px;
        width: 100%;
    }

    .title-cont{
        height: 100%;
    }
}