@font-face {
    font-family: 'MappaFont';
    src: url('/src/assets/fonts/FunnelDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container-mappa{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.blocco-ordina{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
}

.blocco-a{
    height: 500px;
    width: 60%;
    margin: 5px;
}

.blocco-b1{
    height: 550px;
    width: 40%;
    margin: 5px;
    margin-left: 0;
}

.blocco-c{
    height: 250px;
    width: 100%;
    margin: 0 5px 50px;
}

.image-1{
    background-color: #213547;
    width: 100%;
    height: 70%;
    border-radius: 30px;
}

.image-3{
    background-color: #81979A;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.image-4{
    background-color: #3f5b6c;
    width: 30%;
    height: 90%;
    margin: 5px;
    border-radius: 30px;
}

.image-5{
    background-color: #6d96af;
    width: 81%;
    height: 100%;
    position: relative;
    left: 19%;
    border-radius: 30px;
}


.box-title{
    width: 100%;
    height: 25%;
    text-align: left;
    position: relative;
    top: -83%;
    left: 42%;
}

.text-style{
    font-family: 'MappaFont', sans-serif;
    color: black;
    font-size: 95px;
    font-weight: bold;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

@media screen and (max-width: 1201px){
    .text-style{
        font-size: 75px;
    }
}

@media screen and (max-width: 992px){
    .text-style{
        font-size: 60px;
    }
}

@media screen and (max-width: 900px){
    .text-style{
        font-size: 50px;
    }

    .implosion{
        display: none;
    }

    .blocco-ordina{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .blocco-a{
        height: 350px;
        width: 100%;
        margin: 5px;
    }

    .blocco-b1{
        display: none;
    }

    .blocco-c{
        height: 250px;
        width: 100%;
        margin: 0 5px 50px;
    }

    .image-1{
        width: 100%;
        height: 70%;
        border-radius: 30px;
    }

    .image-5{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        border-radius: 30px;
    }

    .img{
        border-radius: 30px;
    }

    .box-title{
        width: 100%;
        height: 30%;
        align-content: center;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
    }
}
